
<div *ngIf="isDataLoaded">
<h2> Edit Mandate  </h2>
<hr>

<input type="text" [formControl] ="mandateId" hidden/>
<p>Mandate Ref No:{{mandate.refNo}}</p> 
<p>Status:{{mandate.status}}</p>
<h3>Amend Details</h3>
<hr>
<form >
    <label for="">Payer </label>
    <input type="text" [formControl] ="payerId" [matAutocomplete]="autopayerId" />
    <mat-autocomplete #autopayerId="matAutocomplete">
      <mat-option *ngFor="let item of filteredPayerId" [value]="item">
        {{item}}
      </mat-option>
    </mat-autocomplete><br><br>
    <label for="">Payer Linked Account </label>
    <input type="text" [formControl] ="payerLinkedAccount" [matAutocomplete]="autolinkedAccount" />
    <mat-autocomplete #autolinkedAccount="matAutocomplete">
      <mat-option *ngFor="let item of filteredPayerLinkedAccount" [value]="item">
        {{item}}
      </mat-option>
    </mat-autocomplete><br><br>
    <label for="">Payer Account Type </label>
    <input type="text" [formControl] ="payerAccountType" [matAutocomplete]="autoPayerAccountType" />
    <mat-autocomplete #autoPayerAccountType="matAutocomplete">
      <mat-option *ngFor="let item of filteredPayerAccountType" [value]="item">
        {{item}}
      </mat-option>
    </mat-autocomplete><br><br>

<h3>Payee Details</h3>
<hr>
<p>Payee</p>
<p>Payee account type : {{payee.accountType}}</p>
<p>Payee Alias Type : {{payee.accountAliasType}}</p>
<p>Payee BIC : {{payee.accountBIC}}</p>
<br>
<p>Ultimate Payee : {{payee.UltimateAccountHolder}}</p>
<br>
<p>Payee -Linked Account : {{payee.linkedAccount}}</p>
<p>Payee ID Type : {{payee.accountIdType}}</p>
<p>Payee -Linked PayID : {{payee.linkedPayId}}</p>

<button mat-button mat-dialog-close>Cancel</button>
<input mat-button mat-dialog-close cdkFocusInitial type="submit" (click)="submit();" value="submit"/>
</form>
</div>
