<h2> Edit Mandate  </h2>
<hr>
<p>Mandate Ref No:</p> 
<p>Status:</p>
<h3>Amend Details</h3>
<hr>
<form >
    <label for="">Payer </label>
    <input type="text"><br><br>
    <label for="">Payer Linked Account </label>
    <input type="text"><br><br>
    <label for="">Payer Account Type </label>
    <input type="text"><br><br>

<h3>Payee Details</h3>
<hr>
<p>Payee</p>
<p>Payee account type</p>
<p>Payee Alias Type</p>
<p>Payee BIC</p>
<br>
<p>Ultimate Payee</p>
<br>
<p>Payee -Linked Account</p>
<p>Payee ID Type</p>
<p>Payee -Linked PayID</p>

<button type="reset">
    Cancel
</button >
<button type="submit">
    Submit
</button>

</form>