<div id="search">
    <h3 class="header">Search Mandates</h3>
    <p id="side">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Amend, Suspend or Cancel Mandates</p>
    <hr>
    <form>

          <label for="Branch Code" class="label">
            Branch Code
          </label>
          <input  type="text" [formControl] ="branchCode" placeholder="Enter Branch Code">
        
      
        
          <label for="Mandate Type" class="label">
            Mandate Type
          </label>
          <input id="branchCode" type="number" [formControl]="mandateType" placeholder="Enter Mandate Type">

          <label for="Mandate ID" class="label">
            Mandate ID
          </label>
          <input id="address" type="text" [formControl]="mandateId" placeholder="Enter Mandate ID">

          <label for="Account Number" class="label">
            Account Number
          </label>
          <input id="address" type="text" [formControl] = "accountNumber" placeholder="Enter Account Number">
         <br><br>
        <button class="button-18" (click)="Search();"type="submit">Search</button>
      <div id="table">
        <table style="width: 100%;border: 1px black solid;">
          <tr><th *ngFor="let col of cols">{{col}}</th></tr>
          <ng-container *ngIf="(data | json) != ([] | json); else templateA">
            <tr  *ngFor="let row of data">
              <td *ngFor="let col of cols">{{row[col]}}</td>
            </tr>
          </ng-container>
          <ng-template  #templateA>
            <div >No output found</div>
          </ng-template>
        </table>
      </div>
      </form>

</div>